@{
    ViewBag.Title = "Home";
}


    <main id="main">
       
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">

            <div class="container text-center text-md-left" data-aos="fade-up">
                <h1> Welcome to <span> 3D Design Transformations</span> </h1>
                <h2> - A 3D Rendering Service for Interior Professionals -</h2>
            </div>

        </section>

        <!-- ======= About Section ======= -->
        <section id="work" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/Content/assets/img/work.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <style>

                            h3 {
                                text-align: center;
                            }

                            body {
                                background-color: #091636;
                            }
                        </style>
                        <h3>Let 3D Design Transformations bring your designs to life!</h3>
                        <ul>
                            <li><box-icon type="solid" name="chevrons-right"></box-icon> Create accurate, detailed and realistic 3-D renderings to offer you a competitive advantage in the field</li>
                            <li>• Provide Interior Designers, Builders and Remodeling Professionals 3-D renderings of their design ideas and concepts to help clients visualize their projects</li>
                            <li>• Free up your time to allow you to focus on what really matters: Your clients!</li>
                        </ul>
                    </div>
                </div>
            </div>


        </section><!-- End About Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <style>
                body {
                    background-color: #091636 !important;
                }
            </style>
                <div class="container" >
            
                <div class="section-title">
                    <h2> Services</h2>
                    <p><em> “It took a lot of work to be perfect. If you didn’t want to break a sweat, there was no point in even bothering.”</em></p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="icon-box">
                            <i class="icofont-computer"> </i>
                            <h4> <a href="#"> 3D Renderings</a> </h4>
                            <p>  Provide photorealistic 3D renderings for your project to give your clients.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <i class="icofont icofont-calculations"> </i>
                            <h4> <a href="#"> On Site Measurements*</a> </h4>
                            <p>
                                Too busy to provide me with all of the measurements of the space? I will visit the job site to take accurate measurements for you.
                                <em>*Limited to the Kansas City Metro Area</em>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="icon-box">
                            <i class="icofont-image"> </i>
                            <h4> <a href="#"> Space Planning</a> </h4>
                            <p>
                                Get accurate measurements and visualizations of your space prior to making potentially costly mistakes
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="icon-box">
                            <i class="icofont-settings"> </i>
                            <h4> <a href="#"> Nemo Enim</a> </h4>
                            <p> Let 3-D Design Transformations bring your designs to life!</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6 mt-4">
                            <div class="icon-box">
                                <i class="icofont-earth"> </i>
                                <h4> <a href="#"> Magni Dolore</a> </h4>
                                <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="icon-box">
                                <i class="icofont-tasks-alt"> </i>
                                <h4> <a href="#"> Eiusmod Tempor</a> </h4>
                                <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                            </div>
                        </div>
                    </div>*@

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2> Portfolio</h2>
                    <p><em> Here are some examples of my work...</em></p>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active"> All</li>
                            <li data-filter=".filter-app"> Sketch</li>
                            <li data-filter=".filter-card"> 45°</li>
                            <li data-filter=".filter-web"> Overhead</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/kitchensketch.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio/kitchensketch.jpg" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> Sketch 1</a> </h4>
                                <p> Sketch</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/KitchenAbove.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio/KitchenAbove.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> 45°</a> </h4>
                                <p> 45°</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/KitchenTopView.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio//KitchenTopView.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> Overhead</a> </h4>
                                <p> Overhead</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio/portfolio-4.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> Card 2</a> </h4>
                                <p> Card</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio/portfolio-5.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> Web 2</a> </h4>
                                <p> Web</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio/portfolio-6.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> App 3</a> </h4>
                                <p> App</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio/portfolio-7.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> Card 1</a> </h4>
                                <p> Card</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio/portfolio-8.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> Card 3</a> </h4>
                                <p> Card</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="~/content/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                                <a href="~/content/assets/img/portfolio/portfolio-9.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"> <i class="bx bx-plus"> </i> </a>
                                <a href="portfolio-details.html" class="link-details" title="More Details"> <i class="bx bx-link"> </i> </a>
                            </figure>

                            <div class="portfolio-info">
                                <h4> <a href="portfolio-details.html"> Web 1</a> </h4>
                                <p> Web</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/Content/assets/img/work.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <style>
                            p {
                                text-decoration-color: #ffffff;
                            }
                            h3 {
                                text-align: center;
                                text-decoration-color: #ffffff;
                            }
                        </style>
                        <h3>About Me</h3>
                        <p>
                            I have been working in Design and Space Planning for seven years and have over four years of experience using various 3D rendering programs.
                        </p>
                        <p>
                            I have always had a passion for design, space planning and problem solving for my clients.
                        </p>
                        <ul>
                            <li><i class="bx bx-check-double"></i> Interior Design training from The University of Missouri</li>
                            <li><i class="bx bx-check-double"></i> Interior Decorating Certificate from Johnson County Community College.</li>
                        </ul>
                        <div class="row icon-boxes">
                            <div class="col-md-6">
                                <i class="bx bx-star"></i>
                                @*<h4>Corporis voluptates sit</h4>*@
                                <p>Proven customer service skills within the interior design field</p>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-0">
                                <i class="bx bx-star"></i>
                                @*<h4>Ullamco laboris nisi</h4>*@
                                <p>Excellent time management and communication skills, ensuring the client gets what they need</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <section id="FAQ" class="FAQ">
            <div class="container">
                <div class="container">


                    <div class="section-title">
                        <h2> Frequently Asked Questions</h2>
                        @*<p><em> Feel free to reach out for more information:</em></p>*@
                    </div>

                    @*<div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            While  <strong>PrepBootstrap</strong> and its store. If you cannot find an answer to your question,
                            make sure to contact us.
                        </div>*@



                    <div class="" id="accordion">
                        @*<div class="faqHeader">FAQ</div>*@
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="card-header">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is my project too/too small?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="card-block">
                                    <strong> - No! The project can be any size ranging from an entire house or building to one room.</strong>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="card-header">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        What program do you use to create the 3D renderings?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="card-block">
                                    <strong> - SketchUp</strong>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="card-header">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What do I need to provide?</a>
                                </h4>
                            </div>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="card-block">
                                <strong> - Photos, floor plans, sketches, home/building/room dimensions and finish selections.</strong>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-header">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How much time will it take for you to complete my project? </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="card-block">
                                <strong> - Typically you will have your 3D renderings within 24-48 hours depending on the information provided, size of job and detail required.</strong>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-header">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">I am not an Interior Design Professional or Remodeler but I am remodeling on my own, can I still use your services?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="card-block">
                                <strong> - Absolutely! All you need to do is provide the finish selections and dimensions - I can even come on site to take measurements for you.</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                .faqHeader {
                    font-size: 27px;
                    margin: 20px;
                }

                .panel-heading [data-toggle="collapse"]:after {
                    font-family: 'Glyphicons Halflings';
                    content: "e072"; /* "play" icon */
                    float: right;
                    color: #F58723;
                    font-size: 18px;
                    line-height: 22px;
                    /* rotate "play" icon from > (right arrow) to down arrow */
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }

                .panel-heading [data-toggle="collapse"].collapsed:after {
                    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                    color: #454444;
                }
            </style>
        </section>
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container">

                <div class="section-title">
                    <h2> Contact</h2>
                    <p><em> Feel free to reach out for more information:</em></p>
                </div>

                @*<div class="row mt-5 justify-content-center">

                        <div class="col-lg-10">

                            <div class="info-wrap">
                                <div class="row">
                                    @*<div class="col-lg-4 info">
                                        <i class="icofont-google-map"> </i>
                                        <h4> Location:</h4>
                                        <p> A108 Adam Street<br> New York, NY 535022</p>
                                    </div>

                                    <div class="col-lg-4 info mt-4 mt-lg-0">
                                        <i class="icofont-envelope"> </i>
                                        <h4> Email:</h4>
                                        <p> info@example.com<br> contact@example.com</p>
                                    </div>

                                    <div class="col-lg-4 info mt-4 mt-lg-0">
                                        <i class="icofont-phone"> </i>
                                        <h4> Call:</h4>
                                        <p> +1 5589 55488 51<br> +1 5589 22475 14</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>*@

                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-10">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"> </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"> </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"> </textarea>
                                <div class="validate"> </div>
                            </div>
                            <div class="mb-3">
                                <div class="loading"> Loading</div>
                                <div class="error-message"> </div>
                                <div class="sent-message"> Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"> <button type="submit"> Send Message</button> </div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->
        <footer id="footer">

            @*<div class="footer-top">
                <div class="container">
                    <div class="row">

                        @*<div class="col-lg-3 col-md-6 footer-contact">
                            <h3> 3-D Design Transformations</h3>
                            <p>
                                A108 Adam Street <br>
                                New York, NY 535022<br>
                                United States <br> <br>
                                <strong> Phone:</strong> +1 5589 55488 55<br>
                                <strong> Email:</strong> info@example.com<br>
                            </p>
                        </div>*@

            @*<div class="col-lg-2 col-md-6 footer-links">
                    <h4> Useful Links</h4>
                    <ul>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Home</a> </li>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> About us</a> </li>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Services</a> </li>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Terms of service</a> </li>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Privacy policy</a> </li>
                    </ul>
                </div>*@

            @*<div class="col-lg-3 col-md-6 footer-links">
                    <h4> Our Services</h4>
                    <ul>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Web Design</a> </li>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Web Development</a> </li>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Product Management</a> </li>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Marketing</a> </li>
                        <li> <i class="bx bx-chevron-right"> </i> <a href="#"> Graphic Design</a> </li>
                    </ul>
                </div>*@

            @*<div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4> Join Our Newsletter</h4>
                    <p> Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"> <input type="submit" value="Subscribe">
                    </form>
                </div>*@



            <div class="container d-md-flex py-4">

                <div class="mr-md-auto text-center text-md-left">
                    <div class="copyright">
                        &copy; Copyright
                        <script>document.write(new Date().getFullYear())</script><strong> <span> 3-D Design Transformations</span> </strong> . All Rights Reserved.  Designed by <a href="https://bootstrapmade.com/"> BootstrapMade <span>and Adapted by David Bell</span></a>
                    </div>
                    @*<div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
                            Designed by <a href="https://bootstrapmade.com/"> BootstrapMade and adapted by David Bell</a>
                        </div>*@
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    @*<a href="#" class="twitter"> <i class="bx bxl-twitter"> </i> </a>*@
                    @*<a href="#" class="facebook"> <i class="bx bxl-facebook"> </i> </a>*@
                    <a href="#" class="instagram"> <i class="bx bxl-instagram"> </i> </a>
                    @*<a href="#" class="google-plus"> <i class="bx bxl-skype"> </i> </a>*@
                    <a href="#" class="linkedin"> <i class="bx bxl-linkedin"> </i> </a>
                </div>
            </div>
        </footer>
        
    </main><!-- End #main -->
